<a href="https://colab.research.google.com/github/sitthatkaja/DWDM21/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

คำสั่งการทำงานกับข้อมูลลักษณะตาราง

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

คำสั่งเชื่อม Google drive

In [3]:
import os

คำสั่งจัดการไฟล์และ path

นำข้อมูลชุดที่ 1 เข้า

In [4]:
path = '/content/drive/My Drive/DWDM21'
data_k = pd.read_csv(os.path.join(path,'wastewater-treatment-system-july-2021.csv'))
data_k

    ที่  ...                                      แหล่งงบประมาณ
0     1  ...  กระทรวงมหาดไทย กระทรวงทรัพยากรธรรมชาติและสิ่งแ...
1     2  ...              กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม
2     3  ...              กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม
3     4  ...  กระทรวงมหาดไทย กระทรวงทรัพยากรธรรมชาติและสิ่งแ...
4     5  ...              กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม
..  ...  ...                                                ...
89   90  ...              กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม
90   91  ...  กระทรวงมหาดไทย กระทรวงทรัพยากรธรรมชาติและสิ่งแ...
91   92  ...              กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม
92   93  ...              กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม
93   94  ...              กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม

[94 rows x 12 columns]

นำข้อมูลชุดที่ 2 เข้า

In [5]:
data_ka = pd.read_csv(os.path.join(path,'edavg_proage62 (1).csv'))
data_ka.dropna()

          จังหวัด  15 - 39 ปี  40 - 59 ปี  15 - 59 ปี  15 ปีขึ้นไป  60 ปีขึ้นไป
0   กรุงเทพมหานคร       12.30       10.87       11.66        11.11         8.13
1     สมุทรปราการ       11.17        9.38       10.34         9.88         7.29
2         นนทบุรี       12.12       10.87       11.49        10.86         8.06
3        ปทุมธานี       11.33       10.20       10.84        10.31         7.08
4          อยุธยา       11.11        9.04       10.26         9.32         5.47
..            ...         ...         ...         ...          ...          ...
72           ตรัง       10.16        8.31        9.29         8.45         5.06
73         พัทลุง       10.83        8.67        9.75         8.51         4.83
74        ปัตตานี        9.77        7.03        8.68         7.70         3.67
75           ยะลา       10.69        8.05        9.61         8.63         3.56
76       นราธิวาส        9.22        6.51        8.12         7.23         2.97

[77 rows x 6 columns]

นำข้อมูลชุดที่ 3 เข้า

In [6]:
data_r = pd.read_csv(os.path.join(path,'revenue.csv'))
data_r.dropna()

          จังหวัด รหัสจังหวัด       2555  ...       2559          2560        2561
0   กรุงเทพมหานคร       th-bm  570327.58  ...  822454.21  947946.30000  1051118.51
1       กาญจนบุรี       th-kn   11910.00  ...   20404.73   24440.77288    27138.35
2        จันทบุรี       th-ct    4214.00  ...    5630.03    7628.47000     8469.45
3      ฉะเชิงเทรา       th-cc    3571.69  ...    4240.41    4655.55000     5007.28
4          ชลบุรี       th-cb  100537.00  ...  187788.42  240610.45000   272435.77
..            ...         ...        ...  ...        ...           ...         ...
72          ระนอง       th-rn    2780.00  ...    3954.75    4311.07000     4706.13
73          สงขลา       th-sg   26702.00  ...   53493.02   59831.77000    68097.42
74           สตูล       th-sa    5332.00  ...    7438.85    8168.70000     9101.47
75   สุราษฎร์ธานี       th-st   35312.00  ...   76546.39   92228.01000   104503.71
76         บึงกาฬ       th-bk       0.00  ...     900.50     976.61000     1047.13

[77 rows x 9 columns]

## ดูว่าข้อมูลมี data missing

ดูว่าข้อมูลมี data missing ด้วยคำสั่ง .usnull()

เช็คข้อมูลชุดที่ 1

In [7]:
data_k.isnull()

      ที่    ภาค  ...   ปริมาณน้ำเสียที่รองรับได้ (ลบ.ม/วัน)   แหล่งงบประมาณ
0   False  False  ...                                   False          False
1   False  False  ...                                   False          False
2   False  False  ...                                   False          False
3   False  False  ...                                   False          False
4   False  False  ...                                   False          False
..    ...    ...  ...                                     ...            ...
89  False  False  ...                                   False          False
90  False  False  ...                                   False          False
91  False  False  ...                                   False          False
92  False  False  ...                                   False          False
93  False  False  ...                                   False          False

[94 rows x 12 columns]

เช็คข้อมูลชุดที่ 2

In [8]:

data_ka.isnull()

    จังหวัด  15 - 39 ปี  40 - 59 ปี  15 - 59 ปี  15 ปีขึ้นไป  60 ปีขึ้นไป
0     False       False       False       False        False        False
1     False       False       False       False        False        False
2     False       False       False       False        False        False
3     False       False       False       False        False        False
4     False       False       False       False        False        False
..      ...         ...         ...         ...          ...          ...
72    False       False       False       False        False        False
73    False       False       False       False        False        False
74    False       False       False       False        False        False
75    False       False       False       False        False        False
76    False       False       False       False        False        False

[77 rows x 6 columns]

เช็คข้อมูลชุดที่ 3

In [9]:
data_r.isnull()

    จังหวัด  รหัสจังหวัด   2555   2556   2557   2558   2559   2560   2561
0     False        False  False  False  False  False  False  False  False
1     False        False  False  False  False  False  False  False  False
2     False        False  False  False  False  False  False  False  False
3     False        False  False  False  False  False  False  False  False
4     False        False  False  False  False  False  False  False  False
..      ...          ...    ...    ...    ...    ...    ...    ...    ...
72    False        False  False  False  False  False  False  False  False
73    False        False  False  False  False  False  False  False  False
74    False        False  False  False  False  False  False  False  False
75    False        False  False  False  False  False  False  False  False
76    False        False  False  False  False  False  False  False  False

[77 rows x 9 columns]

## สรุปข้อมูลเป็นรายคอลลัมม์ว่ามี missing

สรุปข้อมูลเป็นรายคอลลัมม์ว่ามี missing ข้อมูลตัวที่ 1

In [10]:
data_k.isnull().any()

ที่                                       False
ภาค                                       False
จังหวัด                                   False
หน่วยงานที่รับผิดชอบ                      False
ที่ตั้ง                                   False
ชื่อย่อของระบบ                            False
ประเภทของระบบ                             False
พ.ศ. ที่ได้รับงบประมาณ                    False
พ.ศ. ที่เปิดใช้งาน                         True
สถานภาพปัจจุบัน                           False
 ปริมาณน้ำเสียที่รองรับได้ (ลบ.ม/วัน)      True
แหล่งงบประมาณ                             False
dtype: bool

สรุปข้อมูลเป็นรายคอลลัมม์ว่ามี missing ข้อมูลตัวที่ 2

In [11]:
data_ka.isnull().any()

จังหวัด        False
15 - 39 ปี     False
40 - 59 ปี     False
15 - 59 ปี     False
15 ปีขึ้นไป    False
60 ปีขึ้นไป    False
dtype: bool

สรุปข้อมูลเป็นรายคอลลัมม์ว่ามี missing ข้อมูลตัวที่ 3

In [12]:

data_r.isnull().any()

จังหวัด        False
รหัสจังหวัด    False
2555           False
2556           False
2557           False
2558           False
2559           False
2560           False
2561           False
dtype: bool

## รวมตาราง

รวมตารางข้อมุลที่ 1 และ 2

In [13]:
table = pd.merge(data_k,data_ka,on='จังหวัด')

In [14]:
table

    ที่                 ภาค      จังหวัด  ... 15 - 59 ปี 15 ปีขึ้นไป 60 ปีขึ้นไป
0     1               เหนือ     เชียงราย  ...       8.40        7.24        3.90
1     2               เหนือ     เชียงราย  ...       8.40        7.24        3.90
2     3               เหนือ     เชียงราย  ...       8.40        7.24        3.90
3     4               เหนือ    เชียงใหม่  ...       8.99        7.96        4.49
4     5               เหนือ         น่าน  ...       9.13        7.77        4.40
..  ...                 ...          ...  ...        ...         ...         ...
81   90  ตะวันออกเฉียงเหนือ     อุดรธานี  ...       9.00        8.07        4.89
82   91  ตะวันออกเฉียงเหนือ  อุบลราชธานี  ...       8.24        7.33        4.47
83   92  ตะวันออกเฉียงเหนือ  อุบลราชธานี  ...       8.24        7.33        4.47
84   93  ตะวันออกเฉียงเหนือ     ศรีสะเกษ  ...       8.40        7.27        4.32
85   94  ตะวันออกเฉียงเหนือ   อำนาจเจริญ  ...       8.73        7.70        4.70

[86 rows x 17 columns]

รวมตารางข้อมุลที่ 1,2 และ 3

In [15]:

table_3 = pd.merge(table,data_r,on='จังหวัด')

In [16]:
table_3

    ที่                 ภาค      จังหวัด  ...      2559      2560       2561
0     1               เหนือ     เชียงราย  ...  23575.97  26053.86   28548.43
1     2               เหนือ     เชียงราย  ...  23575.97  26053.86   28548.43
2     3               เหนือ     เชียงราย  ...  23575.97  26053.86   28548.43
3     4               เหนือ    เชียงใหม่  ...  88110.34  99070.42  108012.95
4     5               เหนือ         น่าน  ...   2031.31   2462.93    2666.09
..  ...                 ...          ...  ...       ...       ...        ...
77   90  ตะวันออกเฉียงเหนือ     อุดรธานี  ...   8424.29   9892.51   10786.68
78   91  ตะวันออกเฉียงเหนือ  อุบลราชธานี  ...   5932.51   7375.12    7990.17
79   92  ตะวันออกเฉียงเหนือ  อุบลราชธานี  ...   5932.51   7375.12    7990.17
80   93  ตะวันออกเฉียงเหนือ     ศรีสะเกษ  ...   1848.15   1959.43    2084.02
81   94  ตะวันออกเฉียงเหนือ   อำนาจเจริญ  ...    382.63    429.93     449.62

[82 rows x 25 columns]